@model IEnumerable<CreatePerson>
@inject SignInManager<Person> signInManager
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}
@section CSS{
    <partial name="~/views/person/Partial/css.cshtml" />
    <style>
       
        
    </style>

}
<div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Create</button>
    <div id="myDropdown" class="dropdown-content">
        <a class="dropdown-item" asp-action="CreateUser" asp-controller="Patient"><i class="uil uil-user"></i> &nbsp; &nbsp; &nbsp;Patient</a>
        <a class="dropdown-item" asp-action="CreateDonner" asp-controller="Donner"><i class="uil uil-usd-circle"></i> &nbsp; &nbsp; &nbsp;Donner</a>
        <a class="dropdown-item" asp-action="CreateDoctor" asp-controller="Doctor"><i class="uil uil-stethoscope"></i> &nbsp; &nbsp; &nbsp;Doctor</a>
        <a class="dropdown-item" asp-action="CreateTrainer" asp-controller="Trainer"><i class="uil uil-presentation-edit"></i></i> &nbsp; &nbsp; &nbsp;Trainer</a>
    </div>
</div>
@*
<div class="dropdown">
    <a class="dropdown-toggle btn1 third col-sm-3  me-2" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">&nbsp; Create</a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li></li>
        <li><a class="dropdown-item" asp-action="CreateDonner" asp-controller="Donner"><i class="uil uil-usd-circle"></i> &nbsp; &nbsp; &nbsp;Donner</a></li>
        <li><a class="dropdown-item" asp-action="CreateDoctor" asp-controller="Doctor"><i class="uil uil-stethoscope"></i> &nbsp; &nbsp; &nbsp;Doctor</a></li>
        <li><a class="dropdown-item" asp-action="CreateTrainer" asp-controller="Trainer"><i class="uil uil-presentation-edit"></i></i> &nbsp; &nbsp; &nbsp;Trainer</a></li>
    </ul>
</div>
*@
    <br />
    <br />
<table id="example" class="table" style="width:100%;color:darkgrey">
    <thead>
        <tr class="tr-header">

            <th>Profile</th>

            <th>UserName</th>  
            
            <th>Person Type</th>

            <th>IsDelete</th>  
            
            <th>Gender</th>

            <th>District</th>

               
            <th>Action</th>
            
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (@item.Image == null)
                    {
                        if (@item.gender == 0)
                        {
                            <div class="Image" style="background-image:url('/files/imgs/men.jpg') ; width:50px ; height:50px ; border-radius : 50%;background-size:cover;margin:auto; background-position:center; background-repeat:no-repeat ;">
                            </div>

                        }
                        else
                        {
                            <div class="Image" style="background-image:url('/files/imgs/young-woman-avatar-cartoon-character-profile-picture-young-woman-wearing-blue-t-shirt-avatar-cartoon-character-vector-149732076.jpg') ; width:50px;margin:auto ; height:50px ; border-radius : 50%;background-size:cover; background-position:center; background-repeat:no-repeat ;">
                            </div>

                        }
                    }
                    else
                    {
                        <div class="Image" style="background-image:url('/files/imgs/@item.Image') ; width:50px ; height:50px ; border-radius : 50%;background-size:cover;margin:auto; background-position:center; background-repeat:no-repeat ;">
                        </div>
                    }




                </td>
                <td style="padding-top:20px">@item.UserName</td>

                <td style="padding-top:20px">@item.personType</td>

                <td style="padding-top:20px" class="danger">
                    <span class="js-status  badge rounded-pill bg-@(item.ISDeleted ? "danger" : "success")" style='color:white;'>
                        @(item.ISDeleted ? "Deleted" : "Available")
                    </span>
                   
                </td>

                <td style="padding-top:20px">
                    @item.gender
                </td>




                <td style="padding-top:20px">
                   
                    @item.district.Name
                </td>
                <td style="padding-top:20px">
                    <div class="dropdown">
                        <p class="btn btn-outline-dark dropbtn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="uil uil-angle-down"></i>
                            Action
                        </p>
                        <div class="dropdown-menu dropdown-content align-items-center " aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item ancor btn btn-primary" asp-action="Edite" asp-controller="Person" asp-route-id="@item.Id">  
                               Edite
                            </a>
                            <a style="text-align: center" class="dropdown-item px-3 js-toggle-status" href="javascript:;" data-id="@item.Id">
                               Toggel Status
                            </a>
                        </div>
                    </div>
                   </td>
                
            </tr>
        }
      
        
    </tbody>
   
</table>

@section DatatablesJS{
    <partial name="~/views/person/Partial/script.cshtml" />
    
    <script src="~/dashboard/lib/bootbox.js/bootbox.js"></script>
   
}