@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Person> signInManager
@{
    var userinfo = await signInManager.UserManager.FindByNameAsync(User.Identity.Name);
}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Super Hero</title>
    <link href="~/Dashboard/Images/Flash.svg" rel="icon">
    <link href="~/dashboard/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/course/css/ads.css" rel="stylesheet" />
    <link href="~/dashboard/patient.css" rel="stylesheet" />
    @RenderSection("CSS",required:false)
    @RenderSection("CSSLogin",required:false)
    <!-- Font Awesome Cdn Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link href="~/dashboard/userdashboard.css" rel="stylesheet" />
</head>
@if (signInManager.IsSignedIn(User))
                        {
<body style="background-color: rgb(223, 220, 220);">
    <header>
        <div class="container">
                <span hidden aria-label="@userinfo.Id" id="btn_id"></span>
            <div class="navbar">
                <div class="navbar_logo">
                    <h2 style="color:white">super Hero</h2>
                </div>
                <div class="menue_items">
                    <a active-when="MyProfile" style=" text-decoration: none;" asp-action="Profile" asp-controller="MyProfile" asp-route-id="@userinfo.Id">Profile</a>
                    <a  active-when="SocialPatient" style=" text-decoration: none;" asp-action="GetAll" asp-controller="SocialPatient">Social</a>
                   
                    <a  active-when="PatientCourse" style=" text-decoration: none;" asp-action="Course" asp-controller="PatientCourse">Course</a>
                    <a  active-when="ChatHub" asp-action="Index" asp-controller="ChatHub" style=" text-decoration: none;">Contact</a>
                        @if (@userinfo.PersonType == SuperHero.DAL.Enum.PersonType.Trainer)
                        {
                            <a active-when="Course" asp-action="GetALL" asp-controller="Course" style=" text-decoration: none;">Update Course</a>

                        }
                        <div class="dropdown"> 
                            <div class="navbar_acc  ">


                                <i style="cursor:pointer" class="fa-sharp fa-solid fa-bell  fa-lg mm"></i><strong><sup style="font-size:15px" id="NumberCount"></sup></strong>

                            </div>
                            <div style="width:500px" id="myDropdown" class="dropdown-content">

                                <ul id="Notifcation" class="list-group" style="width:500px">
                                </ul>
                            </div>
                    
                        </div>
                        
                </div>
                
                <div class="dropdown">
                    <div class="navbar_acc  ">
                        


                            @if (@userinfo.Image == null)
                            {
                                if (@userinfo.gender == 0)
                                {
                                    <img class="dropbtn" src="/files/imgs/men.jpg" alt="" />
                                }
                                else
                                {

                                    <img class="dropbtn" src="/files/imgs/young-woman-avatar-cartoon-character-profile-picture-young-woman-wearing-blue-t-shirt-avatar-cartoon-character-vector-149732076.jpg" alt="" />
                                }
                            }
                            else
                            {

                                <img class="dropbtn"  src="/files/imgs/@userinfo.Image" style="width:60px;height:60px" alt="" />
                            }
                        

                    </div>
                    
                    <div id="myDropdown" class="dropdown-content">
                        <a asp-action="Profile" asp-controller="MyProfile" asp-route-id="@userinfo.Id"><i class="fa-solid fa-user-secret"></i> Profile</a>
                        <a asp-controller="Account" asp-action="LogOff" asp-route-id="@userinfo.Id">
                            <i class="fa-sharp fa-solid fa-right-from-bracket"></i>Logout
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="hero-section">
                <div class="acc-details">
                    @RenderSection("PersonType",required:false)
                  
                </div>
                <div class="updates">
                    <div class="follower">
                        @RenderSection("Followers",required:false)
                                           </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="Card_Warp">
                
                <div style="margin-right:5px"  class="card">
                    @RenderSection("Follower",required:false)
                   
                </div>
                <div style="margin-right:5px" class="card middel">
                    @RenderSection("Post",required:false)
                    
                </div>

                <div class="card">
                    @RenderSection("Following",required:false)
                    
                </div>
            </div>
        </div>
    </header>
    <!--Post Content-->
    <section style="margin-top:120px" class="content">
        <div class="container">
            @RenderBody()
        </div>

    </section>
    <script src="~/dashboard/lib/jquery/jquery.min.js"></script>
    <script src="~/dashboard/lib/bootstrap/js/bootstrap.min.js"></script>
        @if (signInManager.IsSignedIn(User))
        {

            <script src="~/chat/js/notification.js"></script>
        }
       
    @RenderSection("DatatablesJS",required:false)
    @RenderSection("JS",required:false)
    @RenderSection("JqueryValidation",required:false)

 
    <script src="~/dashboard/lib/fslightbox/index.min.js"></script>
       
  
        
</body>
}
</html>