@model Person
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Person> signInManager
@{
    ViewData["Title"] = "PatientRecord";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
    var userinfo = await signInManager.UserManager.FindByNameAsync(User.Identity.Name);

}
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-9 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-3 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25">
                                    @if(Model.Image == null)
                                    {
                                    if(Model.gender == 0)
                                    {

                                            <img src="/files/imgs/men.jpg" width="100" height="100" style="border:2px solid #363636b4;border-radius:50%" class="img-radius" alt="User-Profile-Image">
                                    }
                                    else
                                    {

                                            <img src="/files/imgs/young-woman-avatar-cartoon-character-profile-picture-young-woman-wearing-blue-t-shirt-avatar-cartoon-character-vector-149732076.jpg" width="100" height="100" style="border:2px solid #363636b4;border-radius:50%" class="img-radius" alt="User-Profile-Image">
                                    }
                                    }
                                    else
                                    {
                                        <img src="~/Files/Imgs/@Model.Image" width="100" height="100" style="border:2px solid #363636b4;border-radius:50%" class="img-radius" alt="User-Profile-Image">
                                    }
                                    
                                </div>
                                <h6 class="f-w-600">@Model.FullName</h6>
                                <br />
                                <a href="javascript:;" data-id="@Model.Id" class="js-Check @((Model.Recorder.Where(c=>c.DoctorID== userinfo.Id && c.PatientID == Model.Id)?.FirstOrDefault() == null ? "text-danger" : (Model.Recorder.Where(c=>c.DoctorID == userinfo.Id && c.PatientID == Model.Id).FirstOrDefault().IsCheck == true) ? "text-secondary" : "text-danger")) "> <i style="font-size:30px ;cursor: pointer;" class="fa-solid  fa-check-to-slot m-t-10 f-16"></i></a>
                                
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                              
                                <div class="row">
                                    <div class="col-sm-8">
                                        <p class="m-b-10 f-w-600">Email</p>
                                        <h6 class="text-muted f-w-400">@Model.Email</h6>
                                    </div>
                                    <div class="col-sm-4">
                                        <p class="m-b-10 f-w-600">Adress</p>
                                        <h6 class="text-muted f-w-400">@Model.district.Name</h6>
                                    </div>

                                </div>
                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Type</h6>
                                <div class="row">
                                    <div class="col-sm-4">
                                        
                                        <h6 class="text-muted f-w-400">@Model.PersonType  </h6>
                                    </div>
                                    <div class="col-sm-4">
                                        <p class="m-b-10 f-w-600">Gender</p>
                                        <h6 class="text-muted f-w-400">@Model.gender</h6>
                                    </div>
                                    <div class="col-sm-4">
                                        <p class="m-b-10 f-w-600">Reason</p>
                                        <h6 class="text-muted f-w-400">@Model.patient.Reason</h6>
                                    </div>
                                </div>
                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Info</h6>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <p class="m-b-10 f-w-600">Analysis</p>
                                        <h6 class="text-muted f-w-400">@Model.patient.Analyses.Where(a=> a.AnalysisPDF != null).Count()  </h6>
                                    </div>
                                    <div class="col-sm-4">
                                       
                                    </div>
                                    <div class="col-sm-4">
                                        <p class="m-b-10 f-w-600">radiologie</p>
                                        <h6 class="text-muted f-w-400">@Model.patient.radiologies.Count()</h6>
                                    </div>
                                    
                                </div>
                                <ul class="social-link list-unstyled m-t-40 m-b-10">
                                    <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="facebook" data-abc="true"><i class="mdi mdi-facebook feather icon-facebook facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="twitter" data-abc="true"><i class="mdi mdi-twitter feather icon-twitter twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="instagram" data-abc="true"><i class="mdi mdi-instagram feather icon-instagram instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row Infobutton">

        <div class="col-sm-4">


            <button data-bs-toggle="modal" class="js-Analysis" href="javascript:;" data-title="Analysis" data-url="/Analysis/PatientAnalysis/@Model.patient.ID" data-update="true" role="button">Analysis<i class="fa-sharp fa-solid fa-hospital-user fa-bounce"></i></button>


        </div>
        <div class="col-sm-4">
            <button data-bs-toggle="modal" class="js-Analysis" href="javascript:;" data-title="Radiology" data-url="/Radiology/PatientRadiology/@Model.patient.ID" data-update="true">Radiology<i class="fa-solid fa-x-ray fa-bounce"></i></button>
        </div>
        <div class="col-sm-4">
            <button data-bs-toggle="modal" class="js-Analysis" href="javascript:;" data-title="Treatment" data-url="/Treatment/PatientTreatment/@Model.patient.ID" data-update="true">Treatment<i class="fa-solid fa-capsules fa-bounce"></i></button>
        </div>

    </div>
</div>
   <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Add Notes</h6>
<div class="container">
    <div class="row Infobutton">

        <div class="col-sm-4">


            <button data-bs-toggle="modal" class="js-Analysis" href="javascript:;" data-title="Analysis" data-url="/Analysis/Create/@Model.patient.ID" data-update="true" role="button">Add Analysis<i class="fa-sharp fa-solid fa-hospital-user "></i></button>


        </div>
        <div class="col-sm-4">
            <button data-bs-toggle="modal" class="js-Analysis" href="javascript:;" data-title="Radiology" data-url="/Radiology/Create/@Model.patient.ID" data-update="true" role="button">Add Radiology<i class="fa-solid fa-x-ray "></i></button>
        </div>
        <div class="col-sm-4">
            <button data-bs-toggle="modal" class="js-Analysis" href="javascript:;" data-title="Treatment" data-url="/Treatment/Create/@Model.patient.ID" data-update="true" role="button">Add Treatment<i class="fa-solid fa-capsules "></i></button>
        </div>
          
    </div>
</div>
<partial name="~/views/Analysis/ModelClinic.cshtml">
@section JS{
    <script>

        $('.js-Analysis').on('click', function () {
            var btn = $(this);
                var modal = $('#ClinicModel');
            modal.find('#ModalLabel').text(btn.data('title'));

            console.log(1);
            $.get({
                url: btn.data('url'),
                success: function (form) {
                    modal.find('.modal-body').html(form);
                    $.validator.unobtrusive.parse(modal);
                },
                error: function () {
                    showErrorMessage();
                }
            });

            modal.modal('show');
        })

    </script>
        <script>
            $(document).ready(function () {
                $('.js-Check').on('click', function () {
                    var btn = $(this);

                    $.post({
                        url: '/DoctorHome/IsCheck/' + btn.data('id'),
                        success: function () {

                            btn.toggleClass('text-secondary text-danger');
                        }
                    });
                });
            });
        </script>
}
@section CSS{
    <style>
        .user-card-full {
    overflow: hidden;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border: none;
    margin-bottom: 30px;
}

.m-r-0 {
    margin-right: 0px;
}

.m-l-0 {
    margin-left: 0px;
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
            background: -webkit-gradient(linear, left top, right top, from(#a4e2dd), to(#1EB2A6));
            background: linear-gradient(to right, #f0f0f0, #67cac2);
}

.user-profile {
    padding: 20px 0;
}

.card-block {
    padding: 1.25rem;
}

.m-b-25 {
    margin-bottom: 25px;
}

.img-radius {
    border-radius: 5px;
}


 
h6 {
    font-size: 14px;
}

.card .card-block p {
    line-height: 25px;
}

@@media only screen and (min-width: 1400px){
p {
    font-size: 14px;
}
}

.card-block {
    padding: 1.25rem;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.card .card-block p {
    line-height: 25px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.text-muted {
    color: #919aa3 !important;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
    font-weight: 600;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-40 {
    margin-top: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-40 {
    margin-top: 20px;
}

.user-card-full .social-link li {
    display: inline-block;
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    </style>
}