
<div class="About">
    <div class="content">
        <img src="~/secondpage/vendor/Image/About us page-bro.svg" alt="About" class="book">
    </div>
    <div id="section-2" class="content">
        <!-- <i class="fa fa-envelope-open" aria-hidden="true"></i>
        <i class="fa fa-user-md" aria-hidden="true"></i>
        <i class="fa fa-comments-o" aria-hidden="true"></i>
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>-->
        <h1><span>Abo</span>ut</h1>
        <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i>@SharedLocalizer["The motivation behind designing"] </p>
        <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i>@SharedLocalizer["Second: Religious and moral principles"]  </p>
        <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i>@SharedLocalizer["Third: Belief in the capabilities of these people"]</p>
        <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i>@SharedLocalizer["In the end, this is our duty"] </p>

    </div>

</div>
<div class="Doctor">
    <div class="content">
        <!-- <i class="fa fa-envelope-open" aria-hidden="true"></i>
        <i class="fa fa-user-md" aria-hidden="true"></i>
        <i class="fa fa-comments-o" aria-hidden="true"></i>
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>-->
        <h1><span>Doc</span>tor</h1>
        <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i>@SharedLocalizer["Watching posts"] </p>
        <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i> @SharedLocalizer["Add a post or comment"] </p>
        <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i> @SharedLocalizer["Adding stats to patients"] </p>
        <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i> @SharedLocalizer["Add the appropriate"] </p>
        <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i> @SharedLocalizer["Join the group"] </p>
    </div>
    <div class="content">
        <img src="~/secondpage/vendor/Image/Doctors-rafiki.svg" alt="About" class="book">
    </div>


</div>