<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="~/firstpage/css/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link href="~/firstpage/image/flash.svg" rel="icon">
    <style>
        a:hover {
            text-decoration: none;
            cursor: pointer;
        }
    </style>
    @RenderSection("CSSLogin",required:false)
</head>
<body>

    <section id="home">

        <partial name="~/views/firstpage/_headerfirstpage.cshtml">
            <partial name="~/views/firstpage/_BodyFirstBage.cshtml">
    </section>
    @RenderBody()
    @RenderSection("JqueryValidation",required:false)
    <!-- scripts -->
    @RenderSection("ScriptsLogin",required:false)
    @*    <script src="~/jquery-validation/additional-methods.js"></script>*@
    <script src="~/jquery-validation/jquery.validate.js"></script>
    <script src="~/jquery-validation/validation-styling.js"></script>

    <script src="~/firstpage/js/main.js"></script>
</body>
</html>