@model CommentServise
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Person> signInManager
@{
    var userinfo = await signInManager.UserManager.FindByNameAsync(User.Identity.Name);
}

<div class="container my-5 py-5">

    <div class="card" style="width:100%">

        @foreach (var comment in Model.comment)
        {

            <div class="card-body  " >
                <div class="d-flex flex-start align-items-center">
                    @if (comment.person.Image == null)
                    {
                        if (comment.person.gender == 0){
                            <img class="rounded-circle shadow-1-strong me-3" src="/files/imgs/men.jpg" alt="avatar" width="40" height="40" />
                        }else{
                            <img class="rounded-circle shadow-1-strong me-3"src="/files/imgs/young-woman-avatar-cartoon-character-profile-picture-young-woman-wearing-blue-t-shirt-avatar-cartoon-character-vector-149732076.jpg" alt="avatar" width="40" height="40" />
                        }
                    }
                    else
                    {
                        <img class="rounded-circle shadow-1-strong me-3" src="/files/imgs/@comment.person.Image" alt="person" width="40" height="40" />
                    }
                    <div>
                        <h6 class="fw-bold text-primary mb-2">@comment.person.FullName</h6>
                        <p class="text-muted small mb-0"> @comment.createdOn</p>
                        <span class="badge mb-1 bg-primary">@comment.person.PersonType</span>
                    </div>
                </div>
                <p style="font-size:18px;padding:30px;color:#363636b4;font-weight: 700;" class="mt-3 mb-4 pb-2">
                    @comment.Body
                </p>
                <hr class="my-0" />

            </div>
        }

        <div class="card-footer py-3 border-0" style="background-color: #1EB2A6;">
            <div class="d-flex flex-start w-100">
                <form asp-action="create" asp-controller="SocialPatient">
                    <div class="row">
                        <div class="col-sm-2">
                            @if (signInManager.IsSignedIn(User))
                            {

                                if (@userinfo.Image == null)
                                {
                                    if (@userinfo.gender == 0)
                                    {
                                        <img class="rounded-circle shadow-1-strong me-3"
                                 src="/files/imgs/men.jpg" alt="avatar" width="40"
                                 height="40" />

                                    }
                                    else
                                    {
                                        <img class="rounded-circle shadow-1-strong me-3"
                                 src="/files/imgs/young-woman-avatar-cartoon-character-profile-picture-young-woman-wearing-blue-t-shirt-avatar-cartoon-character-vector-149732076.jpg" alt="avatar" width="40"
                                 height="40" />

                                    }
                                }
                                else
                                {
                                    <img class="rounded-circle shadow-1-strong me-3"
                                 src="/files/imgs/@userinfo.Image" alt="avatar" width="40"
                                 height="40" />

                                }


                            }

                        </div>
                        <div class="col-sm-10">
                            <input type="hidden" asp-for="PostID" value="@Model.PostID" />
                            <textarea asp-for="Body" class="form-control" id="textAreaExample" rows="1" cols="40"
                                      style="background:#ffffff;  padding: 24px 56px 16px 30px; border: none; resize: none; outline: none; color: #969696;"></textarea>

                            <span class="text-danger" asp-validation-for="Body"></span>
                        </div>
                    </div>
                   
                   
                    <center>
                        <div class="float-end mt-2 pt-1">
                            <button type="submit" style="background-color:white;color:#1EB2A6;padding:20px" class="btn w-100  btn-sm"> comment</button>
                           
                       
                        </div>
                    </center>
                   
                </form>

            </div>
        </div>
    </div>
</div>


